.form-container {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 40px;
}

input {
  width: 80%;
  height: 28px;
  font-size: 24px;
  border-radius: 5px;
  -webkit-appearance: listitem;
}

input[type=file] {
  width: 80%;
  height: 33px;
  font-size: 24px;
  border: 0;
  padding: 0;
  margin: 0;
  border-radius: 5px;
  -webkit-appearance: listitem;
}

.form-section {
  min-height: 50px;
  margin-top: 23px;
  margin-left: 60px;
}

.form-section img {
  width: 300px;
  height: 300px;
  display: block;
  margin: 20px auto;
  border: solid 1px #222;
}

label {
  font-size: 25px;
  margin-left: 6px;
}

input[type=submit] {
  background: indigo;
  color: white;
  height: 33px;
  border: 0;
  cursor: pointer;
  width: 330px;
  max-width: 50vw;
  border-radius: 0;
}

body h2, body h2 a {
  color: indigo;
  font-size: 33px;
  font-weight: bold;
  text-align: center;
}

.error {
  background-color: crimson;
  min-height: 30px;
  border: solid 1px red;
  border-radius: 3px;
  padding: 8px;
  padding-top: 15px;
  color: white;
  margin: 5px;
  width: 50%;
}